<div class="title">
    <h1>Matches List</h1>
    <div class="line"></div>
</div>

<a ng-if="loggedUser.logged == true" href="#!/newmatch" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New match
</a>

<table class="table stripped">
    <thead>
    <tr>
        <th>index</th>
        <th>team home</th>
        <th>team away</th>
        <th>date and time</th>
        <th>location</th>
        <th>score</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="match in matches track by $index" ng-if="!loggedUser.logged && match.isActive || loggedUser.logged">
            <td><a href="#!/matches/{{match.id}}">{{match.id}}</a></td>
            <td><a href="#!/teams/{{match.teamHome.id}}">{{match.teamHome.name}}</a></td>
            <td><a href="#!/teams/{{match.teamAway.id}}">{{match.teamAway.name}}</a></td>
            <td>{{match.dateAndTime | date : "dd.MM.y hh:mm" }}</td>
            <td>{{match.location.name}}</td>
            <td>{{match.teamHomeGoalsScored-0}} : {{match.teamAwayGoalsScored-0}}</td>
            <td ng-if="loggedUser.logged == true">
                <button class="button" ng-click="deleteMatch(match)">Delete</button>     
                <button class="button" ng-click="activateMatch(match)" ng-if="!match.isActive">Activate</button>
            </td>            
        </tr>
    </tbody>
</table>