<div class="title">
    <h1>Players List</h1>
    <div class="line"></div>
</div>

<a ng-if="loggedUser.logged == true" href="#!/newPlayer" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New player
</a>

<table class="table stripped">
    <thead>
    <tr>
        <th>Name/Surname</th>
        <th>Country</th>
        <th>Team</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in players track by $index">
            <td><a href="#!/players/{{player.id}}">{{player.name}} {{player.surname}}</a></td>
            <td><a href="#!/players/{{player.id}}">{{player.country}}</a></td>
            <td><a href="#!/players/{{player.id}}">{{player.team.name}}</a></td>
        </tr>
    </tbody>
</table>