<div class="title">
    <h1>Players List</h1>
    <div class="line"></div>
</div>

<a ng-if="loggedUser.logged == true" href="#!/newPlayer" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New player
</a>

<table class="table stripped">
    <thead>
    <tr>
        <th>Name/Surname</th>
        <th>Country</th>
        <th>Team</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in players | orderBy:'team.name' track by $index" ng-if="player.isActive">
            <td><a href="#!/players/{{player.id}}">{{player.name}} {{player.surname}}</a></td>
            <td>{{player.country}}</td>
            <td><a href="#!/teams/{{player.team.id}}">{{player.team.name}}</a></td>
            <td ng-if="loggedUser.logged == true">
                <button class="button" ng-click="deletePlayer(player)">Delete</button>              
            </td>
        </tr>
    </tbody>
</table>