<h2>New match</h2>

<form name="form" novalidate class="form-horizontal">

    <div class="form-group" >
        <label for="teamHome" class="col-sm-2 control-label">team home</label>
        <div class="col-sm-10">

        <!--<select class="form-control" id="teamHome"  data-ng-model="match.teamHome" required>
            <option data-ng-options="item.name for item in items">
                
            </option>
        </select>-->
            <!--<select class="form-control" id="teamHomeId" ng-options="item.id as item.name for item in items" ng-model="selectedTeamHomeId">
        </select>-->
            
        <select id="teamHome" class="form-control" ng-model="match.teamHomeId" convert-to-int required="">
            <option ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>
        </select>   
        <p class="help-block" ng-show="form.teamHome.$error.required">team home is required</p>
        </div>
    </div>
    <div class="form-group" >
        <label for="teamAway" class="col-sm-2 control-label">team away</label>
        <div class="col-sm-10">

        <!--<select class="form-control" id="teamAway" data-ng-options="item.name for item in items" data-ng-model="match.teamAway" required>
        </select>->>
            <!--<select class="form-control" id="teamAwayId" ng-options="item.id as item.name for item in items" ng-model="selectedTeamAwayId">
        </select>-->
            
        <select id="teamAway" class="form-control" ng-model="match.teamAwayId" convert-to-int required="">
            <option ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>
        </select>  
        <p class="help-block" ng-show="form.teamAway.$error.required">team away is required</p>
        </div>
    </div>
    
    <div class="form-group" >
        <label for="dateAndTime" class="col-sm-2 control-label">date and time</label>
        <div class="col-sm-10">
            <input placeholder="" id="dateAndTime" type="datetime-local" name="dateAndTime" class="form-control" ng-model="match.dateAndTime" format-date/>
            <span class="error" ng-show="form.dateAndTime.$error.datetimelocal">Not a valid date</span>
            <p></p>
        </div>
    </div>

    <div class="form-group" >
        <label for="location" class="col-sm-2 control-label">location name</label>
        <div class="col-sm-10">
            <input placeholder="" id="location" type="text" name="location" class="form-control" ng-model="match.location.name"/>
            <p></p>
        </div>
    </div>
    
    <div class="form-group" >
        <label for="location" class="col-sm-2 control-label">location street</label>
        <div class="col-sm-10">
            <input placeholder="" id="location" type="text" name="location" class="form-control" ng-model="match.location.street"/>
            <p></p>
        </div>
    </div>
    <div class="form-group" >
        <label for="location" class="col-sm-2 control-label">location city</label>
        <div class="col-sm-10">
            <input placeholder="" id="location" type="text" name="location" class="form-control" ng-model="match.location.city"/>
            <p></p>
        </div>
    </div>
    <div class="form-group" >
        <label for="location" class="col-sm-2 control-label">location state</label>
        <div class="col-sm-10">
            <input placeholder="" id="location" type="text" name="location" class="form-control" ng-model="match.location.state"/>
            <p></p>
        </div>
    </div>
    <div class="form-group" >
        <label for="location" class="col-sm-2 control-label">location zip</label>
        <div class="col-sm-10">
            <input placeholder="" id="location" type="text" name="location" class="form-control" ng-model="match.location.zip"/>
            <p></p>
        </div>
    </div>
    
    <div class="form-group" >
        <label for="teamHomeGoalsScoredHalf" class="col-sm-2 control-label">team home goals half</label>
        <div class="col-sm-10">
            <input placeholder="0" id="teamHomeGoalsScoredHalf" type="number" name="teamHomeGoalsScoredHalf" class="form-control" ng-model="match.teamHomeGoalsScoredHalf"/>
            <p></p>
        </div>
    </div>
    <div class="form-group" >
        <label for="teamAwayGoalsScoredHalf" class="col-sm-2 control-label">team away goals half</label>
        <div class="col-sm-10">
            <input placeholder="0" id="teamAwayGoalsScoredHalf" type="number" name="teamAwayGoalsScoredHalf" class="form-control" ng-model="match.teamAwayGoalScoredHalf"/>
            <p></p>
        </div>
    </div>
    <div class="form-group" >
        <label for="teamHomeGoalsScored" class="col-sm-2 control-label">team home goals</label>
        <div class="col-sm-10">
            <input placeholder="0" id="teamHomeGoalsScored" type="number" name="teamHomeGoalsScored" class="form-control" ng-model="match.teamHomeGoalsScored"/>
            <p></p>
        </div>
    </div>
    <div class="form-group" >
        <label for="teamAwayGoalsScored" class="col-sm-2 control-label">team away goals</label>
        <div class="col-sm-10">
            <input placeholder="0" id="teamAwayGoalsScored" type="number" name="teamAwayGoalsScored" class="form-control" ng-model="match.teamAwayGoalScored"/>
            <p></p>
        </div>
    </div>

    <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="create(match)">create</button>    
   
</form>