<h2>New Player</h2>

<form name="form" novalidate class="form-horizontal">

    <div class="form-group" >
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input placeholder="name" id="name" type="text" name="name" class="form-control" ng-model="player.name" required=""/>
            <p class="help-block" ng-show="form.name.$error.required">Name is required</p>
        </div>
    </div>

    <div class="form-group" >
        <label for="surname" class="col-sm-2 control-label">Surname</label>
        <div class="col-sm-10">
            <input placeholder="surname" id="surname" type="text" name="surname" class="form-control" ng-model="player.surname" required=""/>
             <p class="help-block" ng-show="form.surname.$error.required">Surame is required</p>
        </div>
    </div>    

    <div class="form-group" >
        <label for="age" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
            <input placeholder="age" id="age" type="number" name="age" class="form-control" ng-model="player.age"/>
        </div>
    </div>    

    <div class="form-group" >
        <label for="post" class="col-sm-2 control-label">Post</label>
        <div class="col-sm-10">
            
        <select id="post" name="post" class="form-control" ng-model="player.post" required>
            <option ng-repeat="item in posts" value="{{item}}">{{item}}</option>
        </select>  
        <p class="help-block" ng-show="form.post.$error.required">Post is required</p>

        </div>
    </div>        
 
    <div class="form-group" >
        <label for="captain" class="col-sm-2 control-label">Captain</label>
        <div class="col-sm-10">
            <input placeholder="captain" id="age" type="checkbox" name="captain" class="form-control" ng-model="player.captain"/>
        </div>
    </div>         

    <div class="form-group" >
        <label for="country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <input placeholder="country" id="age" type="text" name="country" class="form-control" ng-model="player.country"/>
        </div>
    </div>    
    
    <div class="form-group" >
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input placeholder="city" id="city" type="text" name="city" class="form-control" ng-model="player.city"/>
        </div>
    </div>        

    <div class="form-group">
        <label for="team" class="col-sm-2 control-label">Team</label>
        <div class="col-sm-10">

        <select id="team" name="team" class="form-control" ng-model="player.teamId" required>
            <option ng-repeat="item in teams" value="{{item.id}}" ng-if="item.isActive">{{item.name}}</option>
        </select>  
        <p class="help-block" ng-show="form.team.$error.required">Team is required</p>

        </div>
    </div>
    
    <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="create(player)">create</button>    
   
</form>