body{
    background: url(../images/trava.png) repeat;
}

.navbar.navbar-inverse.navbar-static-top{
-webkit-box-shadow: 10px 12px 37px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 12px 37px -19px rgba(0,0,0,0.75);
box-shadow: 10px 12px 37px -19px rgba(0,0,0,0.75);
}

.navbar-brand{
    font-size: 1.9em !important;
}

main{
  
}

main .container{
    background-color: #fff;
    min-height: 700px;
    padding: 10px 14px;
    
    -webkit-box-shadow: 10px 12px 37px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 37px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 12px 37px -19px rgba(0,0,0,0.75);
}

footer{
    margin-top: 20px;
    background-color: #2E2E2E;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
    text-align: center;
}

a, a:link, a:visited, a:active, a:hover{
    color: #000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.btn.btn-primary{
    background: none;
    background-color: #619A31;
    color: #fff;
    transition: color 0.2s;
}

.btn.btn-primary:hover{
    color: #000;
}

table.stripped tbody tr:nth-child(2n+1) td{
    
}

table.stripped tbody tr:nth-child(2n+2) td{
    background-color: #f7f7f7;
}

div.title {
  margin: 10px 0px 20px 0px;
}

h1,
h2,
h3,
h4 {
  margin: 5px 0px;
  padding: 0px;
}
div.title h1,
div.title h2,
div.title h3,
div.title h4 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
div.title h1.indent,
div.title h2.indent {
  margin-left: 80px;
  padding: 0px 20px;
}
div.title .line {
  width: 200px;
  height: 1px;
  margin-top: 9px;
}
div.title .line .bold {
  height: 2px;
}
div.title .line .through {
  margin-top: -14px;
  width: 100%;
}

h1,
h2,
h3,
h4,
div.title h1,
div.title h2,
div.title h3,
div.title h4 {
  color: #55585c;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
div.title h1,
h1 {
  font-size: 1.9em;
  font-weight: bold;
}
div.title h1.indent {
  background-color: #fff;
}
div.title h2,
h2 {
  font-size: 1.7em;
  font-weight: bold;
}
div.title h3,
h3 {
  font-size: 1.5em;
  font-weight: bold;
}
div.title h4,
h4 {
  font-size: 1.3em;
}

h1.white,
h2.white,
h3.white,
h4.white {
  color: #fff;
}
h1.grey,
h2.grey,
h3.grey,
h4.grey {
  color: #3c3c3c;
}
h1.black,
h2.black,
h3.black,
h4.black {
  color: #000;
}
h1.red,
h2.red,
h3.red,
h4.red {
  color: #ff0000;
}
div.title .line {
  background-color: #c1c1c1;
}


