<div class="title">
    <h1>Match detail</h1>
    <div class="line"></div>
</div>

<div class="row match-detail">
    <div class="col-xs-6">
            
        
        <br /><br />
        
        <table>
            <tr><td><b>Result:</b> </td><td><span style="color: red; font-weight: bold;">{{match.teamHomeGoalsScored-0}} : {{match.teamAwayGoalsScored-0}}</span> ({{match.teamHomeGoalsScoredHalf-0}} : {{match.teamAwayGoalsScoredHalf-0}})</td></tr>
    
            <tr><td><b>Team Home:</b></td><td>{{match.teamHome.name}}</td></tr>
            <tr><td><b>Team Away: </b></td><td>{{match.teamAway.name}}</td></tr>
            <tr><td><b>Date and time: </b></td><td>{{match.dateAndTime | date : "dd.MM.y hh:mm" }}</td></tr>
            <tr><td><b>location: </b></td><td>{{match.location.name}}</td></tr>
            <tr><td><b>city: </b></td><td>{{match.location.city}}</td></tr>
            <tr><td><b>street: </b></td><td>{{match.location.street}}</td></tr>
            <tr><td><b>zip: </b></td><td>{{match.location.zip}}</td></tr>
            <tr><td><b>state: </b></td><td>{{match.location.state}}</td></tr>
        </table>
        
        <br /><br />

        <br />
        
        <a ng-if="loggedUser.logged == true" ng-click="deleteMatch()" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Delete match
        </a>
        <a ng-if="loggedUser.logged == true" href="#!/editmatch/{{match.id}}" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Edit match
        </a>
        <a ng-if="loggedUser.logged == true" ng-click="updateMatchScore()" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Update score
        </a>
    </div>
    
    <div class="form-place col-xs-12" style="margin-top: 15px;padding: 9px 6px">
        
        <input ng-if="loggedUser.logged == true" type="button" value="Add player result" ng-click="ShowHide()" /> 
        
        <div style="border: 1px #ccc solid;margin-top: 15px;padding: 9px 6px" class="col-xs-12" ng-hide = "IsHidden" ng-include="'/pa165/partials/admin/new_player_result.html'"></div>
        
        <div style="border: 1px #ccc solid;margin-top: 15px;padding: 9px 6px" class="col-xs-12" ng-hide = "IsHiddenEdit" ng-include="'/pa165/partials/admin/edit_player_result.html'"></div>
        
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>goals scored</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playerResult in match.playerResults track by $index" ng-if="playerResult.isActive">
                <td>{{playerResult.id}}</td>
                <td>{{playerResult.player.name + ' ' + playerResult.player.surname}}</td>
                <td>{{playerResult.goalsScored-0}}</td>
                <!--<td><button ng-if="loggedUser.logged == true" ng-click="deleteResult(playerResult.id)" type="submit" class="btn btn-primary">Delete</button></td>-->
                <td><a ng-if="loggedUser.logged == true" ng-click="deleteResult(playerResult.id)" class="btn btn-primary">
                <span class="glyphicon" aria-hidden="true"></span>
                Delete
                </a></td>
                <!--<td><a ng-if="loggedUser.logged == true" href="#!/editplayerresult/{{playerResult.id}}" class="btn btn-primary">
                <span class="glyphicon" aria-hidden="true"></span>
                Edit
                </a></td>-->
                <td><input ng-if="loggedUser.logged == true" type="button" value="Edit" ng-click="ShowHideEdit(playerResult)" /></td>
        
            </tr>
        </tbody>
    </table>
</div>
