<h1>{{player.name}} {{player.surname}}</h1>

<br /><br />

<div class="row player-profile">
    <div class="col-md-4" style="text-align: center;">
        <img src="images/profile.jpg" title="profile" alt="profile"/>
    </div>
    <div class="col-md-8">
        <table>
            <tr><td>Team:</td><td><a href="/pa165/#!/teams/{{player.team.id}}" title="Show team details">{{player.team.name}}</a></td></tr>
            <tr><td>Age</td><td>{{player.age}}</td></tr>
            <tr><td>Country:</td><td>{{player.country}}</td></tr>
            <tr><td>City:</td><td>{{player.city}}</td></tr>
            <tr><td>Post:</td><td>{{player.post[0].toUpperCase() + player.post.substring(1).toLowerCase()}}</td></tr>
            <tr><td>Captain:</td><td>{{true == player.captain ? 'Yes' : 'No' }}</td></tr>
        </table>
    </div>
</div>

<br /><br />

<div class="col-xs-12">
    <h4 ng-if="loggedUser.logged == true" class="subtitle">Administrative operations</h4>
    <br>
        <a ng-if="loggedUser.logged == true" ng-click="deletePlayer()" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Delete player
        </a>
        <a ng-if="loggedUser.logged == true" href="#!/editplayer/{{player.id}}" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Edit player
        </a>

</div>