<h1>{{player.name}} {{player.surname}}</h1>
<li><b>Team: </b>{{player.team.name}}</li>
<li><b>Age: </b>{{player.age}}</li>
<li><b>Country: </b>{{player.country}}</li>
<li><b>City: </b>{{player.city}}</li>
<li><b>Post: </b>{{player.post}}</li>
<li><b>Cpatain: </b>{{true == player.captain ? 'Yes' : 'No' }}</li>

<div class="col-xs-12">
    <h4 ng-if="loggedUser.logged == true" class="subtitle">Administrative operations</h4>
    <br>
        <a ng-if="loggedUser.logged == true" ng-click="deletePlayer()" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Delete player
        </a>

</div>