<h1>{{team.name}}</h1>
<br>

<div class="col-xs-12">

<h4 class="subtitle">Last matches</h4>
    <div class="scroll-team-matches">
        <table class="table">
            <thead>
            <tr>
                <th>Opponent</th>
                <th>Date</th>
                <th>Location</th>
                <th style="text-align: right">Detail</th>
            </tr>
            </thead>
            <tbody >
                <tr ng-repeat="match in matches | limitTo:5 | orderBy:'dateAndTime':true track by $index " ng-init="opponent=team.name==match.teamHome.name ? match.teamAway : match.teamHome">
                    <td><a href="#!/teams/{{opponent.id}}">{{opponent.name}}</a></td>
                    <td>{{match.dateAndTime}}</td>
                    <td>{{match.location.name}}</td>
                    <td align="right"><a href="#!/matches/{{match.id}}"><button type="submit" class="btn btn-primary btn-xs">Results</button></a></td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-xs-6">
    <h4 class="subtitle">Team players</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in team.players track by $index">
                <td><a href="#!/players/{{player.id}}">{{player.name}} {{player.surname}}</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-6">
    <h4 class="subtitle">Team statistics</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            <tr >
                <td>Wins</td>
                <td>{{team.wins}}</td>
            </tr>
            <tr >
                <td>Ties</td>
                <td>{{team.ties}}</td>
            </tr>
            <tr >
                <td>Losses</td>
                <td>{{team.looses}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12">
    <h4 ng-if="loggedUser.logged == true" class="subtitle">Administrative operations</h4>
    <br>
        <a ng-if="loggedUser.logged == true" ng-click="deleteTeam()" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Delete team
        </a>
        <a ng-if="loggedUser.logged == true" href="#!/editteam/{{team.id}}" class="btn btn-primary">
            <span class="glyphicon" aria-hidden="true"></span>
            Edit team
        </a>
</div>
