<div class="title">
    <h1>Match detail</h1>
    <div class="line"></div>
</div>

<div class="row">
    <div class="col-xs-6">
        <li><b>Team Home: </b>{{match.teamHome.name}}</li>
        <li><b>Team Away: </b>{{match.teamAway.name}}</li>
        <li><b>Date ant time: </b>{{match.dateAndTime | date : 'dd-MM-yyyy HH:mm'}}</li>
        <li><b>location: </b>{{match.location.name}}</li>
        <li><b>city: </b>{{match.location.city}}</li>
        <li><b>street: </b>{{match.location.street}}</li>
        <li><b>zip: </b>{{match.location.zip}}</li>
        <li><b>state: </b>{{match.location.state}}</li>
        
        Result: <span style="color: red; font-weight: bold;">{{match.teamHomeGoalsScored}} : {{match.teamAwayGoalsScored}}</span> ({{match.teamHomeGoalsScoredHalf}} : {{match.teamAwayGoalsScoredHalf}})
    
        <button ng-click="deleteMatch()" type="submit" class="btn btn-primary">Delete</button>
    </div>

    <div>
    <input type="button" value="Add player result" ng-click="ShowHide()" />
        <br/>
        <div class="col-xs-6" ng-hide = "IsHidden" ng-include="'/pa165/partials/admin/new_player_result.html'"></div>
        <br/>
    </div>
    
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>goals scored</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playerResult in match.playerResults track by $index">
                <td>{{playerResult.player.name + ' ' + playerResult.player.surname}}</td>
                <td>{{playerResult.player.goalsScored-0}}</td>
                <td><button ng-click="deleteResult(playerResult.id)" type="submit" class="btn btn-primary">Delete</button></td>
            </tr>
        </tbody>
    </table>
    
    <div class="col-xs-6">
        <table class="table">
            <caption>Statistics for team home</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <table class="table">
            <caption>Statistics for team away</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
