<div class="row">
    <div class="col-xs-6">
        <h3>{{match.teamHome}}</h3>
        <h3>{{match.teamAway}}</h3>

        Result: <span style="color: red; font-weight: bold;">{{match.teamHomeGoalsScored}}&nbsp;{{match.teamAwayGoalsScored}}</span>
    </div>
    
    
    <!--<div class="col-xs-6">
        <table class="table">
            <caption>Statistics for match</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <table class="table">
            <caption>Statistics for team home</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <table class="table">
            <caption>Statistics for team away</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>-->
</div>
